<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>901900770928-v9fukn7k6q8sgegetk350m6vand1lv4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901900770928-v9fukn7k6q8sgegetk350m6vand1lv4p</string>
	<key>API_KEY</key>
	<string>AIzaSyAwy2jhVOiEyYD6SSxo99fixzx7YqioJDU</string>
	<key>GCM_SENDER_ID</key>
	<string>901900770928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clientflutter.sprut</string>
	<key>PROJECT_ID</key>
	<string>sprut-client-android</string>
	<key>STORAGE_BUCKET</key>
	<string>sprut-client-android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901900770928:ios:d7e06601a03d5c86121eb5</string>
	<key>DATABASE_URL</key>
	<string>https://sprut-client-android.firebaseio.com</string>
</dict>
</plist>